.DS_Store
docker-compose.*.yml
test.sh
test.tpl
*.env
!docker-compose.common-tmpl.yml
!docker-compose.zone-tmpl*.yml
!docker-compose.plugin-tmpl*.yml
!docker-compose.induction-tmpl.yml
!docker-compose.sandbox-*-tmpl.yml
!docker-compose.monitoring-tmpl.yml
!docker-compose.sandbox-hdp-vanilla.yml
!docker-compose.sandbox-hdp-vanilla-extended.yml
!docker-compose.sandbox-cdh-vanilla.yml
!docker-compose.livedata-migrator.yml
[._]*.sw[a-p]
*.sh_history
