<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2018 WANdisco.
  -->
<Configuration monitorInterval="300">
    <Properties>
        <Property name="ihcLogFile">${sys:ihcDistroLogFile}</Property>
    </Properties>

    <Appenders>
        <!-- APPENDER 1: CONSOLE -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601}{UTC} %p %c - %t:[%m]%n"/>
            <!-- UNCOMMENT to enable -->
            <!-- ThresholdFilter level="WARN" -->
         </Console>

        <!-- APPENDER 2: MAIN ROLLING FILE -->
        <RollingFile name="fusionIhcServerLog" fileName="${ihcLogFile}" filePattern="${ihcLogFile}.%d{yyyy-MM-dd'T'HH:mm:ss}{UTC}">
            <PatternLayout pattern="%d{ISO8601}{UTC} %p %c - %t:[%m]%n" charset="UTF-8"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="200 MB" />
                <OnStartupTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="100"/>
            <!-- UNCOMMENT to enable -->
            <!-- ThresholdFilter level="WARN" -->
        </RollingFile>
    </Appenders>


    <Loggers>
        <!-- UNCOMMENT to enable Netty Logging -->
        <!--Logger name="com.wandisco.shadow.io.netty.handler.logging.LoggingHandler" level="trace">
            <AppenderRef ref="fusionIhcServerLog"/>
        </Logger-->

        <!-- Third party logging -->
        <!--
            Amazon logging for communication with AWS
        -->
        <Logger name="com.amazonaws" level="info" additivity="false">
            <AppenderRef ref="fusionIhcServerLog"/>
        </Logger>

        <!--
            Netty logging for inter Fusion communication
        -->
        <Logger name="com.wandisco.shadow.io.netty" level="info" additivity="false">
            <AppenderRef ref="fusionIhcServerLog"/>
        </Logger>

        <!--
            Hadoop logging for interactions with HDFS
        -->
        <Logger name="org.apache.hadoop" level="info" additivity="false">
            <AppenderRef ref="fusionIhcServerLog"/>
        </Logger>

        <!--
            Apache logging for HTTP communication
        -->
        <Logger name="org.apache.http" level="info" additivity="false">
            <AppenderRef ref="fusionIhcServerLog"/>
        </Logger>

        <!-- Root logger -->
        <Root level="info">
            <!--AppenderRef ref="Console"/-->
            <AppenderRef ref="fusionIhcServerLog"/>
        </Root>
    </Loggers>
</Configuration>